﻿@using TeamManager.Model
@model TeamManager.Web.Models.EditProfileViewModel

@{
    ViewBag.Title = "Edit";
    ApplicationUser user = Model.User;
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.User.Id)
    @Html.HiddenFor(model => model.User.Player.Id)
    @Html.HiddenFor(model => model.User.Player.Address.Id)
    @Html.HiddenFor(model => model.User.Player.Contact.Id)

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            @Html.LabelFor(model => user.Player.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => user.Player.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => user.Player.FirstName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => user.Player.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => user.Player.LastName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => user.Player.LastName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => user.Player.BirthDate, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => user.Player.BirthDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => user.Player.BirthDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => user.Player.Contact.Email, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => user.Player.Contact.Email, new {htmlAttributes = new {@class = "form-control"}})

                @Html.ValidationMessageFor(model => user.Player.Contact.Email, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => user.Player.Gender, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("Gender", Model.GendreDropDown, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => user.Player.Handedness, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("Gender", Model.HandednessDropDown, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>

        <fieldset>
            <legend>Address</legend>
            <div class="form-group">
                @Html.LabelFor(model => user.Player.Address.Line1, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => user.Player.Address.Line1, new {htmlAttributes = new {@class = "form-control"}})

                    @Html.ValidationMessageFor(model => user.Player.Address.Line1, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => user.Player.Address.Line2, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => user.Player.Address.Line2, new {htmlAttributes = new {@class = "form-control"}})

                    @Html.ValidationMessageFor(model => user.Player.Address.Line2, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => user.Player.Address.Code, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => user.Player.Address.Code, new {htmlAttributes = new {@class = "form-control"}})

                    @Html.ValidationMessageFor(model => user.Player.Address.Code, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => user.Player.Address.City, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => user.Player.Address.City, new {htmlAttributes = new {@class = "form-control"}})

                    @Html.ValidationMessageFor(model => user.Player.Address.City, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => user.Player.Address.Country, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => user.Player.Address.Country, new {htmlAttributes = new {@class = "form-control"}})

                    @Html.ValidationMessageFor(model => user.Player.Address.Country, "", new {@class = "text-danger"})
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
