﻿@model TeamManager.Model.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Handedness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Handedness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Address.Line1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Address.Line1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Address.Line2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Address.Line2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Address.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Address.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Address.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Address.Country)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>